In [ ]:
import netCDF4 as nc
import pandas as pd

In [ ]:
dataset = nc.Dataset('path-to/NOAAGlobalTemp_v5.0.0_gridded_s188001_e202212_c20230108T133308.nc', 'r')
dataset

<class 'netCDF4._netCDF4.Dataset'>
root group (NETCDF4 data model, file format HDF5):
    Conventions: CF-1.6, ACDD-1.3
    title: NOAA Merged Land Ocean Global Surface Temperature Analysis (NOAAGlobalTemp)
    summary: NOAAGlobalTemp is a merged land-ocean surface temperature analysis, formerly abbreviated as MLOST. The SST dataset is the Extended Reconstructed Sea Surface Temperature (ERSST) and the land surface air temperature dataset is from the Global Historical Climatology Network Monthly (GHCN-M) database.
    institution: DOC/NOAA/NESDIS/National Centers for Environmental Information(NCEI)
    id:  gov.noaa.ncdc:C00934
    naming_authority:  gov.noaa.ncei
    project:  NOAAGlobalTemp
    platform: Ships, moored buoys, surface drifting buoys, Argo floats, and weather stations
    instrument: Conventional thermometers
    history: Version 5.0.0, blending ERSST V5 and GHCN-M V4.
    comment: Merged land ocean surface temperature anomalies.
    product_version: 5.0.0
    source: NOAAGlobalTemp combines a global sea surface temperature with a global land surface air temperature data
    ncei_template_version: NCEI_NetCDF_Grid_Template_v2.0
    Metadata_Conventions: Unidata Dataset Discovery v1.0
    license: These data are available for use without restriction.
    creator_name: Boyin Huang, Xungang Yin, Ph.D
    creator_email: Boyin.Huang@noaa.gov, Xungang.Yin@noaa.gov
    creator_type: group
    creator_institution: US DOC/NOAA/NESDIS/National Centers for Environmental Information(NCEI)
    contributor_name: Huai-min Zhang, Ph.D
    contributor_role: Chief, NOAA/NESDIS/NCEI/CCOG/OSB Ocean Surface Section
    publisher_name: NCEI
    publisher_institution: NCEI
    publisher_url: https://www.ncdc.noaa.gov/
    publisher_email: ncei.info@noaa.gov
    publisher_type: institution
    keywords: Earth Science > Oceans > Ocean Temperature > Sea Surface Temperature, Earth Science > Atmosphere > Atmospheric Temperature > Surface Temperature > Air Temperature
    keywords_vocabulary: NASA Global Change Master Directory (GCMD) Science Keywords
    standard_name_vocabulary: Climate and Forecast (CF) Standard Name Table (Version 46, 25 July 2017)
    date_created: 2023-01-08T18:33:09Z
    necdf_version_id: 4.2.1.1
    netcdf_creator_name: Yongsheng Zhang, Ph.D
    netcdf_creator_email: yongsheng.zhang@noaa.gov
    dataset_citation_product: NOAA Merged Land Ocean Global Surface Temperature Analysis (NOAAGlobalTemp)
    dataset_citation_version: 5.0.0
    dataset_citation_institution: NOAA/NESDIS/NCEI, Asheville, NC, USA
    dataset_citation_url: https://doi.org/10.25921/9qth-2p70
    metadata_link: https://doi.org/10.25921/9qth-2p70
    cdm_data_type: Grid
    grid_mapping_name: latitude_longitude
    processing_level: NOAA Processing Level 4
    geospatial_lon_min: 2.5
    geospatial_lon_max: 357.5
    geospatial_lon_units: degrees_east
    geospatial_lon_resolution: 5.0 degree
    geospatial_lat_min: -87.5
    geospatial_lat_max: 87.5
    geospatial_lat_units: degrees_north
    geospatial_lat_resolution: 5.0 degree
    geospatial_bounds: POLYGON ((2.5 -87.5, 2.5 87.5, 357.5 87.5, 357.5 -87.5, 2.5 -87.5))
    geospatial_bounds_crs: EPSG:4326
    geospatial_vertical_min: 0.0
    geospatial_vertical_max: 0.0
    geospatial_vertical_units: meters
    geospatial_vertical_resolution: 0.f
    geospatial_vertical_positive: up
    time_coverage_start: 1880-01
    time_coverage_end: 2022-12
    time_coverage_resolution: P1M
    time_coverage_duration: P143Y0M
    references: Vose, R. S., et al., 2012: NOAAs merged land-ocean surface temperature analysis. Bulletin of the American Meteorological Society, 93, 1677-1685. doi: 10.1175/BAMS-D-11-00241.1. Huang, B., Peter W. Thorne, et. al, 2017: Extended Reconstructed Sea Surface Temperature version 5 (ERSSTv5), Upgrades, validations, and intercomparisons. J. Climate, 30, 8179-8205. doi: 10.1175/JCLI-D-16-0836.1
    climatology: Climatology is based on 1971-2000 monthly climatology
    acknowledgment: The NOAA Global Surface Temperature Dataset is provided by the NOAA National Centers for Environmental Information(NCEI)
    date_modified: 2023-01-08T18:33:09Z
    date_issued: 2023-01-08T18:33:09Z
    dimensions(sizes): time(1716), lat(36), lon(72), z(1)
    variables(dimensions): float32 time(time), float32 lat(lat), float32 lon(lon), float32 z(z), float32 anom(time, z, lat, lon)
    groups:

In [ ]:
dataset2 = nc.Dataset('path-to/precip.mon.total.v7.nc', 'r')
#dataset2

In [ ]:
variable_names = dataset.variables.keys()
print(variable_names)

dict_keys(['time', 'lat', 'lon', 'z', 'anom'])

In [ ]:
lat = dataset.variables ['lat']
lat

<class 'netCDF4._netCDF4.Variable'>
float32 lat(lat)
    long_name: Latitude
    standard_name: latitude
    coverage_content_type: coordinate
    units: degrees_north
    grids: Uniform grid from -87.5 to 87.5 by 5
    valid_min: -87.5
    valid_max: 87.5
    axis: Y
    _CoordinateAxisType: Lat
    coordinate_defines: center
unlimited dimensions:
current shape = (36,)
filling on, default _FillValue of 9.969209968386869e+36 used

In [ ]:
temp = dataset.variables ['anom']

In [ ]:
temp

<class 'netCDF4._netCDF4.Variable'>
float32 anom(time, z, lat, lon)
    long_name: Global Temperature Anomalies
    standard_name: surface_temperature_anomaly
    coverage_content_type: physicalMeasurement
    units: degrees C
    missing_value: -999.9
    _FillValue: -999.9
    add_offset: 0.0
    scale_factor: 1.0
    valid_min: -40.0
    valid_max: 40.0
    coordinates: time z lat lon
unlimited dimensions:
current shape = (1716, 1, 36, 72)
filling on

In [ ]:
temp_data = dataset.variables['anom'][:]

In [ ]:
lat_min, lat_max = 1.318, 20.633
lon_min, lon_max = 9.053, 31.113

In [ ]:
import numpy as np
lat = dataset.variables['lat'][:]
lon = dataset.variables['lon'][:]
#lat_indices = np.where(lat >= lat_min) & (lat <= lat_max)[0]
#lon_indices = np.where(lon >= lon_min) & (lon <= lon_max)[0]
lat_indices = np.searchsorted(lat, [lat_min, lat_max])
lon_indices = np.searchsorted(lon, [lon_min, lon_max])

In [ ]:
df = pd.DataFrame(lon_indices)
df1 = pd.DataFrame(lat_indices)
df

   0
0  2
1  6

In [ ]:
subset_temp_data = temp_data[:, :, lat_indices[0]:lat_indices[1], lon_indices[0]:lon_indices[1]]
subset_temp_data

masked_array(
  data=[[[[--, --, --, --],
          [--, --, --, --],
          [--, --, --, --],
          [--, --, --, --]]],


        [[[--, --, --, --],
          [--, --, --, --],
          [--, --, --, --],
          [--, --, --, --]]],


        [[[--, --, --, --],
          [--, --, --, --],
          [--, --, --, --],
          [--, --, --, --]]],


        ...,


        [[[1.115722894668579, 1.3334460258483887, 1.733852505683899,
           1.736942172050476],
          [0.5634891390800476, 0.8149952292442322, 1.1685633659362793,
           1.23863685131073],
          [-0.13441035151481628, -0.21748760342597961,
           -0.022795557975769043, -0.07569509744644165],
          [-0.21568381786346436, -0.46628880500793457,
           -0.3644026219844818, 0.12995927035808563]]],


        [[[1.065653920173645, 1.1346665620803833, 0.9089114665985107,
           1.0080486536026],
          [1.0774524211883545, 1.1668460369110107, 0.32432568073272705,
           0.24176011979579926],
          [0.124263696372509, 0.075214684009552, 0.38420745730400085,
           0.16340665519237518],
          [-0.3707621097564697, 0.0396384596824646,
           0.013788172975182533, 0.5146580934524536]]],


        [[[1.0178784132003784, 0.6992282271385193, 0.8345258831977844,
           0.6645691394805908],
          [1.2877976894378662, 1.4803707599639893, 0.574885368347168,
           0.4851776659488678],
          [0.5574641823768616, 0.7649120688438416, 0.9653716683387756,
           0.5577117800712585],
          [1.2383580207824707, 1.3075666427612305, 0.7345560193061829,
           1.106014609336853]]]],
  mask=[[[[ True,  True,  True,  True],
          [ True,  True,  True,  True],
          [ True,  True,  True,  True],
          [ True,  True,  True,  True]]],


        [[[ True,  True,  True,  True],
          [ True,  True,  True,  True],
          [ True,  True,  True,  True],
          [ True,  True,  True,  True]]],


        [[[ True,  True,  True,  True],
          [ True,  True,  True,  True],
          [ True,  True,  True,  True],
          [ True,  True,  True,  True]]],


        ...,


        [[[False, False, False, False],
          [False, False, False, False],
          [False, False, False, False],
          [False, False, False, False]]],


        [[[False, False, False, False],
          [False, False, False, False],
          [False, False, False, False],
          [False, False, False, False]]],


        [[[False, False, False, False],
          [False, False, False, False],
          [False, False, False, False],
          [False, False, False, False]]]],
  fill_value=-999.9,
  dtype=float32)

In [ ]:
subset_temp_data
data = subset_temp_data.data
mask = subset_temp_data.mask

In [ ]:
mask_df = pd.DataFrame(mask.reshape(-1, 4))
data_df = pd.DataFrame(data.reshape(-1, 4))
data_df = data_df.replace(-999.900024, pd.NA)
print(data_df)

               0           1           2           3
0    -999.900024 -999.900024 -999.900024 -999.900024
1    -999.900024 -999.900024 -999.900024 -999.900024
2    -999.900024 -999.900024 -999.900024 -999.900024
3    -999.900024 -999.900024 -999.900024 -999.900024
4    -999.900024 -999.900024 -999.900024 -999.900024
...          ...         ...         ...         ...
6859   -0.370762    0.039638    0.013788    0.514658
6860    1.017878    0.699228    0.834526    0.664569
6861    1.287798    1.480371    0.574885    0.485178
6862    0.557464    0.764912    0.965372    0.557712
6863    1.238358    1.307567    0.734556    1.106015

[6864 rows x 4 columns]

In [ ]:
DF = pd.concat([data_df, mask_df], axis = 1)
DF

,0,1,2,3,0,1,2,3
0,-999.900024,-999.900024,-999.900024,-999.900024,True,True,True,True
1,-999.900024,-999.900024,-999.900024,-999.900024,True,True,True,True
2,-999.900024,-999.900024,-999.900024,-999.900024,True,True,True,True
3,-999.900024,-999.900024,-999.900024,-999.900024,True,True,True,True
4,-999.900024,-999.900024,-999.900024,-999.900024,True,True,True,True
...,...,...,...,...,...,...,...,...
6859,-0.370762,0.039638,0.013788,0.514658,False,False,False,False
6860,1.017878,0.699228,0.834526,0.664569,False,False,False,False
6861,1.287798,1.480371,0.574885,0.485178,False,False,False,False
6862,0.557464,0.764912,0.965372,0.557712,False,False,False,False
6863,1.238358,1.307567,0.734556,1.106015,False,False,False,False